*{
    font-size:36pt;
    color:blue;
    background-color:yellow;
}

p.klasa_nieuniwersalna_kopacz{
    font-size:31pt;
    color:violet;
}

.klasa_uniwersalna_kopacz{
    font-size:21pt;
    color:black;
}
